html {
  font-size: 62.5%;
}

.chatWindow {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.chatWindow--header {
  height: 6rem;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chatWindow--headerinfo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.chatWindow--avatar {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
.chatWindow--name {
  font-size: 1.7rem;
  color: #000;
}

.chatWindow--headerbuttons {
  display: flex;
  align-items: flex-end;
  margin-right: 1.5rem;
}

.chatWindow--btn {
  display: flex;
  width: 4rem;
  height: 2.5rem;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
  transition: all ease 0.3s;
}

.chatWindow--body {
  flex: 1;
  overflow-y: auto;
  background-color: #e5ddd5;
  background-size: cover;
  background-position: top;
  background-image: url("https://i.redd.it/qwd83nc4xxf41.jpg");
  background-size: 44%;
  padding: 2rem 3rem;
}

.chatWindow--footer {
  height: 6.2rem;
  display: flex;
  align-items: center;
}

.chatWindow--pre {
  display: flex;
  margin: 0 1.5rem;
}

.chatWindow--inputarea {
  flex: 1;
}

.chatWindow--input {
  width: 100%;
  height: 4rem;
  border: 0;
  outline: 0;
  background-color: #fff;
  border-radius: 2rem;
  font-size: 1.5rem;
  color: #4a4a4a;
  padding-left: 1.5rem;
}

.chatWindow--pos {
  display: flex;
  margin: 0 1.5rem;
}

.chatWindow--emojiarea {
  height: 20rem;
  overflow-y: hidden;
  transition: all ease 0.3s;
}

.chatWindow--body::-webkit-scrollbar {
  width: 0.6rem;
  height: 0.6rem;
}

.chatWindow--body::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
}

/* Não é boa prática, mas foi necessário! */
aside.emoji-picker-react {
  width: auto !important;
  background: none !important;
}

.emoji-picker-react .emoji-group::before {
  background: none !important;
}
